<div id="demobox">
    <div id="csbox">
        <div id="option">
            <input id="oneM" name="1M" type="button" value="1M"/>
            <input id="threeM" name="3M" type="button" value="3M" />
            <input id="sixM" name="6M" type="button" value="6M" />
            <input id="oneY" name="1Y" type="button" value="1Y" />
            <input id="twoY" name="2Y" type="button" value="2Y" />
            <input id="fourY" name="4Y" type="button" value="4Y" />
        </div>
        <div id="infobar">
            <div id="infodate" class="infohead"></div>
            <div id="infoopen" class="infobox"></div>
            <div id="infohigh" class="infobox"></div>
            <div id="infolow" class="infobox"></div>
            <div id="infoclose" class="infobox"></div>
        </div>
        <div id="chart1"></div>
    </div> <!-- csbox -->
</div> <!-- demobox -->


<link rel="stylesheet" href="{{ url_for('static', filename='cschart.css')}}">
<script src="{{ url_for('static', filename='js/lib/d3.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/module/candlestick/cschart.js')}}"></script>
<script src="{{ url_for('static', filename='js/module/candlestick/cschart.js')}}"></script>
<script src="{{ url_for('static', filename='js/module/candlestick/csbars.js')}}"></script>
<script src="{{ url_for('static', filename='js/module/candlestick/csheader.js')}}"></script>
<script src="{{ url_for('static', filename='js/module/candlestick/csdataprep.js')}}"></script>
<script src="{{ url_for('static', filename='js/module/candlestick/csmain.js')}}"></script>
