.parent .view {
    display: block;
}
.parent .edit {
    display: none;
}
.parent.editing .view {
    display: none;
}
.parent.editing .edit {
    display: block;
}

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.alert.fixed {
  position: fixed;
	top: 20px;
	margin-left: -200px;
	left: 50%;
	width: 400px;
	margin-bottom: 0;
	box-shadow: 0px 0px 10px #454545;
    opacity: 100;
}
